**/__pycache__/
.vscode
data/source/*
data/followup/*
data/human_validation/*
data/augmented_data/*
!data/source/.gitkeep
!data/followup/.gitkeep
models/**
!models/.gitkeep
results/predictions/**
!results/predictions/.gitkeep
!results/predictions/*.csv
results/validity/**
!results/validity/.gitkeep
!results/validity/*.csv
results/errors/**
!results/errors/.gitkeep
!results/errors/*.csv
results/features/**
!results/features/.gitkeep
!results/features/*.csv
results/samples/**
!results/samples/.gitkeep
!results/samples/*.csv
tmp/*
tmp*
*_bak
