**/__pycache__/
.vscode
data/*
!data/.gitkeep
models/*
!models/.gitkeep
!models/.gitkeep
followup/*
!followup/.gitkeep
results/errors/**
!results/errors/.gitkeep
results/features/**
!results/features/.gitkeep
results/predictions/**
!results/predictions/.gitkeep
results/SelfOracle/**
!results/SelfOracle/.gitkeep