**/__pycache__/
.vscode
data/*
!data/.gitkeep
models/*
!models/.gitkeep
!models/.gitkeep
followup/*
!followup/.gitkeep
results/errors/**
!results/errors/.gitkeep
!results/errors/*.csv
results/features/**
!results/features/.gitkeep
!results/features/*.csv
results/predictions/**
!results/predictions/.gitkeep
!results/predictions/*.csv
results/SelfOracle/**
!results/SelfOracle/.gitkeep
!results/SelfOracle/*.csv
results/selected_samples/**
!results/selected_samples/.gitkeep
!results/selected_samples/*.csv
tmp/*
tmp*
*_bak
